<div class="row">
  <div class="col-sm-12">
    <%= form_tag search_pages_search_result_path, :method => 'get' do %>
    <%= hidden_field_tag(:procedure_id, @procedure.id) %>
    <h4> Search by name </h4>
    <%= text_field_tag :name_filter, @name_filter %>
    <h3> Filter by </h3>
    <h4> Star Rating </h4>
    <div class="checkbox" %>
      <% (1..5).each do |rating| %>
        <label>
          <%= check_box_tag 'ratings[]', rating, if params[:ratings]; params[:ratings].include?("#{rating}") else true end %> 
          <% (1..rating).each do |i| %>
          <span class="glyphicon glyphicon-star"></span>
          <% end %>
        </label><br>
      <% end %>
    </div>
    <h4> Price </h4>
    <div class="checkbox" %>
      <% @all_prices.each do |price| %>
        <label>
          <%= check_box_tag 'prices[]', price, if params[:prices]; params[:prices].include?("#{price}") else true end %> >$<%= price %>
        </label><br>
      <% end %>
    </div>
    <h4> Administered By: </h4>
      <div class="checkbox" %>
        <% all_qualifications  = ['Dermatologist', 'MD', 'PA'] %>
        <% all_qualifications.each do |qualification| %>
          <label>
            <%= check_box_tag 'qualifications[]', qualification, if params[:qualifications]; params[:qualifications].include?("#{qualification}") else true end %>
            <%= qualification %>
          </label><br>
        <% end %>
    </div>
    <%= submit_tag "Filter" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
  </div>
</div>