<div class="row">
  <div class="col-sm-12">
    <%= form_tag search_pages_search_result_path, :method => 'get' do %>
    <%= hidden_field_tag(:procedure_id, @procedure.id) %>
    <h4> Search by name </h4>
    <%= text_field_tag :name_filter, @name_filter %>
    <h3> Filter by </h3>
    <h4> Star Rating </h4>
    <div class="checkbox" %>
      <label>
        <%= check_box_tag 'ratings[]', 5 %> Five star
      </label><br>
      <label>
        <%= check_box_tag 'ratings[]', 4 %> Four star
      </label><br>
      <label>
        <%= check_box_tag 'ratings[]', 3 %> Three star
      </label><br>
      <label>
        <%= check_box_tag 'ratings[]', 2 %> Two star
      </label><br>
      <label>
        <%= check_box_tag 'ratings[]', 1 %> One star
      </label><br>
    </div>
    <h4> Price </h4>
    <div class="checkbox" %>
      <% @all_prices.each do |price| %>
        <label>
          <%= check_box_tag 'prices[]', price, if params[:prices]; params[:prices].include?("#{price}") else true end %> >$<%= price %>
        </label><br>
      <% end %>
    </div>
    <h4> Administered By: </h4>
      <div class="checkbox" %>
      <label>
        <%= check_box_tag(:dermatologist) %> Dermatologist
      </label><br>
      <label>
        <%= check_box_tag(:md) %> MD
      </label><br>
      <label>
        <%= check_box_tag(:pa) %> PA
      </label><br>
    </div>
    <%= submit_tag "Filter" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
  </div>
</div>