<div class="row">
<h2>Practice with <%=@procedure.name%><%= @zipcode.blank? ? "" : " in #{@zipcode}" %> </h2>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-sm-4">
    <%= render 'side_bar' %>
  </div>
  <div class="col-sm-8">
  <ul class="nav nav-pills nav-justified">
    <li class="disabled"><a href="#">Sort By:</a></li>
    <li class=<%= "active" if @sort_by == "Rating" %>><%= link_to "Rating", "#{@resorting_path}&sort_by=Rating" %></li>
    <li class=<%= "active" if @sort_by == "Most Popular" %>><%= link_to "Most Popular", "#{@resorting_path}&sort_by=Most Popular" %></li>
    <li class=<%= "active" if @sort_by == "Price" %>><%= link_to "Price", "#{@resorting_path}&sort_by=Price" %></li>
  </ul>
    <% if @costs.empty? %>
      <p> No practice found </p>
    <% end %> 
    <ol class="costs">
    <% @costs.each do |cost| %>
      <li> 
        <%= cost.practice.name %>
        <% star = cost.practice.dummy_rating.round %> 
        <% (1..star).each do |i| %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <br>
        <span class="glyphicon glyphicon-move"></span>Map<br><br>
        $<%= " #{cost.price}" %>
        <div class="pull-right">
          <p>BOOK NOW>></p>
        </div>
      </li>
    <% end %>
    </ol>
  </div>
</div>